Package: com.drewsdunne.taptounlock7
Name: TapToUnlock7
Depends: mobilesubstrate, firmware (>= 7.0)
Version: 1.0.2
Architecture: iphoneos-arm
Description: No more sliding! Just tapping!
Maintainer: drewsdunne
Author: drewsdunne
Section: Tweaks
